/* You can add global styles to this file, and also import other style files */
@import './assets/config_scss.scss';
.header_res{
  background:$header;
}
.background_res{
    background:$background;
}
.sidebar_res{
    background:$sidebar;
}
.footer_res{
    background:$footer;
}
.btn_res{
    background:$btn;
}